.aboutpage {
    overflow-x: hidden;
    background-image: url(../Assets/wave-haikei.svg);
    background-blend-mode: screen;
    background-color: rgba(220, 20, 60, 0);
    height: 100%;
}
.about-text{
    padding-top: 20rem;
    width: 95%;
    margin: auto;

}
.whoweare{
    font-size: 15px;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}
.whowearep{
    font-size: 13px;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
    text-align: left;
}
