.aboutpage {
    overflow-x: hidden;
    margin-top: 4rem;
    position: relative;
    background-image: url('../Assets/layered-steps-haikei.svg');
    background-blend-mode: soft-light;
    background-position-x: center;
    background-repeat: no-repeat;
    background-position-y: top;  
    background-color: rgba(255, 255, 255, 0.712);
}
.about-text{
    padding-top: 20rem;
    width: 95%;
    margin: auto;

}
.whoweare{
    font-size: 15px;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}
.whowearep{
    font-size: 13px;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
    text-align: left;
}
