.aboutpage {
    z-index: 500;
    height: 130vh;
    overflow: hidden;

}

.aboutimage{
    z-index: 500;
    background-image: url(../Assets/World\ Map.svg);
    overflow-y: hidden;
    background-blend-mode: soft-light;
    /* background-position-x: center; */
    background-repeat: no-repeat;
    background-position-y: bottom;
    width: 90%;
    height: 100%;   
}