.myclosebutton{
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}
.myoffcanvas{
    box-sizing: border-box;

}
.mycanvas{
    color: white;
    

}

.mycanvasbody{
    z-index: 500;
    text-align: left;
    overflow-y: hidden;
    background-blend-mode: soft-light;
    background-position-x: center;
    background-repeat: no-repeat;
    background-position-y: bottom;  
}
.mycanvaslink{
    text-align: left;
    width: 100%;
    text-decoration: none; 

}
.mycanvaslinks{
    margin-left: -2rem;
    padding-bottom: 5rem;
    text-decoration: none; 
    width: 100%;
    
    
}
.mycanvaslinks a{
    font-size: 15px;
    font-weight: 400;
    color: crimson;
    overflow: hidden;
    text-decoration: none;   
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}
.mycanvaslinks a:hover{
    color:  black;
       
}
.mynavsection{
    padding: 1rem 0rem;
}
