/* .container{


} */
.relatedcointainer{
    width: 90%;
    align-items: center;
    padding: 1rem;
    margin: 1rem ;

}

/* .relatedcarousel{

} */
.myswpier{
    width: 100%;

}
.relatedposth6{
    font-size: 18px;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
    
}